In [1]:
import pandas as pd
from google.colab import drive
from pandas import Series, DataFrame
from matplotlib import pyplot
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import seaborn as sns
from pandas import DataFrame
from pandas import concat
import os
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# test dataset 불러오기
# 대회에서는 불러오면 실격, 잘 학습이 되었나 확인만 하기 위함

test_dir = '/content/drive/MyDrive/Jupyter/unlimited_power/raw_data/test'
test_list = os.listdir(test_dir)
test_list[:10]

['44.csv',
 '2.csv',
 '25.csv',
 '34.csv',
 '63.csv',
 '33.csv',
 '27.csv',
 '17.csv',
 '47.csv',
 '5.csv']

In [3]:
# 순서가 맞지 않는다. 순서를 맞춰야 한다.
# 순서를 맞추는 함수

import re

_nsre = re.compile('([0-9]+)')
def natural_sort_key(s):
    return [int(text) if text.isdigit() else text.lower()
            for text in re.split(_nsre, s)]

In [4]:
# 만족스럽다.

test_list.sort(key = natural_sort_key)
test_list[:10]

['0.csv',
 '1.csv',
 '2.csv',
 '3.csv',
 '4.csv',
 '5.csv',
 '6.csv',
 '7.csv',
 '8.csv',
 '9.csv']

In [5]:
# 실제로 자료 불러오기

test_data = [[] for i in range(0,len(test_list))]

for i in range(0, len(test_list)):
    file_name = test_dir + '/' + test_list[i]
    test_data[i] = pd.read_csv(file_name, delimiter=',')
    test_data[i].drop('Day', axis = 1, inplace = True)

# 불러온 친구들 합치기
test_dataframe = pd.DataFrame()
for i in range(0, len(test_list)):
    test_dataframe = concat([test_dataframe, test_data[i]], axis = 0)

test_dataframe.reset_index(inplace=True)
test_dataframe.drop('index', axis = 1, inplace = True)

# 완성본

test_dataframe

       Hour  Minute  DHI  DNI   WS     RH     T  TARGET
0         0       0    0    0  2.7  34.42   0.0     0.0
1         0      30    0    0  2.7  34.17   0.1     0.0
2         1       0    0    0  2.7  34.23   0.2     0.0
3         1      30    0    0  2.7  33.99   0.3     0.0
4         2       0    0    0  2.8  33.97   0.4     0.0
...     ...     ...  ...  ...  ...    ...   ...     ...
27211    21      30    0    0  0.8  63.35  13.7     0.0
27212    22       0    0    0  0.7  64.82  13.1     0.0
27213    22      30    0    0  0.7  66.10  12.8     0.0
27214    23       0    0    0  0.6  67.64  12.4     0.0
27215    23      30    0    0  0.6  69.44  12.0     0.0

[27216 rows x 8 columns]