<a href="https://colab.research.google.com/github/marvelous-koala/unlimited_power/blob/master/baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
import time
import statsmodels.api as sm
from sklearn import linear_model
from tqdm import tnrange, tqdm_notebook
from sklearn.metrics import mean_squared_error
from statsmodels.regression.quantile_regression import QuantReg

In [6]:
train = pd.read_csv('./raw_data/train/train.csv')

In [8]:
sub = pd.read_csv('./raw_data/sample_submission.csv')

In [9]:
for i in range(0,81):
    s1 = "test_%d = pd.read_csv('./raw_data/test/%d.csv')"%(i,i)
    exec(s1)

In [10]:
test_2

     Day  Hour  Minute  DHI  DNI   WS     RH    T  TARGET
0      0     0       0    0    0  1.8  66.93 -7.9     0.0
1      0     0      30    0    0  1.9  67.45 -8.0     0.0
2      0     1       0    0    0  2.0  65.33 -8.2     0.0
3      0     1      30    0    0  2.1  65.33 -8.2     0.0
4      0     2       0    0    0  2.1  62.34 -8.2     0.0
..   ...   ...     ...  ...  ...  ...    ...  ...     ...
331    6    21      30    0    0  3.3  58.62 -0.8     0.0
332    6    22       0    0    0  3.8  56.88 -0.9     0.0
333    6    22      30    0    0  4.2  56.81 -0.9     0.0
334    6    23       0    0    0  4.7  55.70 -1.0     0.0
335    6    23      30    0    0  5.0  54.42 -0.7     0.0

[336 rows x 9 columns]

In [11]:
for i in range(0, 1093):
    s1 = "train_%d = pd.concat([train.loc[train['Day'] == %d].reset_index(drop = True), train.loc[train['Day'] == %d + 2].reset_index(drop = True).rename(columns = {'TARGET' : 'TARGET_2'})['TARGET_2']], axis = 1)"%(i, i, i)
    exec(s1)

In [13]:
train_0.head(5)

   Day  Hour  Minute  DHI  DNI   WS     RH   T  TARGET  TARGET_2
0    0     0       0    0    0  1.5  69.08 -12     0.0       0.0
1    0     0      30    0    0  1.5  69.06 -12     0.0       0.0
2    0     1       0    0    0  1.6  71.78 -12     0.0       0.0
3    0     1      30    0    0  1.6  71.75 -12     0.0       0.0
4    0     2       0    0    0  1.6  75.20 -12     0.0       0.0

In [14]:
train_x = pd.concat([train_0, train_1], axis = 0).reset_index(drop=True)
train_x

    Day  Hour  Minute  DHI  DNI   WS     RH   T  TARGET  TARGET_2
0     0     0       0    0    0  1.5  69.08 -12     0.0       0.0
1     0     0      30    0    0  1.5  69.06 -12     0.0       0.0
2     0     1       0    0    0  1.6  71.78 -12     0.0       0.0
3     0     1      30    0    0  1.6  71.75 -12     0.0       0.0
4     0     2       0    0    0  1.6  75.20 -12     0.0       0.0
..  ...   ...     ...  ...  ...  ...    ...  ..     ...       ...
91    1    21      30    0    0  2.2  74.50  -8     0.0       0.0
92    1    22       0    0    0  2.2  72.83  -8     0.0       0.0
93    1    22      30    0    0  2.2  72.82  -8     0.0       0.0
94    1    23       0    0    0  2.2  72.51  -8     0.0       0.0
95    1    23      30    0    0  2.2  72.49  -8     0.0       0.0

[96 rows x 10 columns]

In [15]:
for i in range(2, 1093):
    s1 = "train_x = pd.concat([train_x, train_%d], axis = 0).reset_index(drop = True)"%(i)
    exec(s1)

In [1]:
train_x

NameError: name 'train_x' is not defined

In [ ]:
#변수생성
hour_mean = train_x.groupby(['Hour'])['TARGET'].mean()
minute_mean = train_x.groupby(['Minute'])['TARGET'].mean()
train_x['Hour_mean'] = train_x['Hour'].map(hour_mean)
train_x['Minute_mean'] = train_x['Minute'].map(minute_mean)

In [ ]:
train_x = train_x.drop(['Day', 'Hour', 'Minute'], axis = 1)
train_x

In [ ]:
x_train = train_x.drop(['TARGET_2'], axis = 1)
y_train = train_x['TARGET_2']b

In [ ]:
for i in range(0, 81):
    s1 = "test_%d = test_%d[240:].reset_index(drop = True)"%(i,i)
    s2 = "hour_mean = test_%d.groupby(['Hour'])['TARGET'].mean()"%(i)
    s3 = "minute_mean = test_%d.groupby(['Minute'])['TARGET'].mean()"%(i)
    s4 = "test_%d['Hour_mean'] = test_%d['Hour'].map(hour_mean)"%(i,i)
    s5 = "test_%d['Minute_mean'] = test_%d['Minute'].map(minute_mean)"%(i,i)
    s6 = "test_%d = test_%d.drop(['Day', 'Hour', 'Minute'], axis = 1)"%(i,i)
    exec(s1)
    exec(s2)
    exec(s3)
    exec(s4)
    exec(s5)
    exec(s6)

In [ ]:
test_x = pd.concat([test_0, test_1], axis = 0).reset_index(drop=True)
test_x

In [ ]:
for i in range(2, 81):
    s1 = "test_x = pd.concat([test_x, test_%d], axis = 0).reset_index(drop = True)"%(i)
    exec(s1)

In [ ]:
x_test = test_x.copy()

In [ ]:
def linear_reg(X,y):
    model = linear_model.LinearRegression(fit_intercept = True)
    model.fit(X,y)
    RSS = mean_squared_error(y,model.predict(X)) * len(y)
    R_squared = model.score(X,y)
    return RSS, R_squared

#X변수 개수
m = len(y_train)
k = 8
RSS_list, R_squared_list, feature_list = [],[], []
numb_features = []

#1 ~ 8까지 모든 조합에 대한 성능 테스트(RSS, R_Squared)
for k in tnrange(1,len(x_train.columns) + 1):
    for combo in itertools.combinations(x_train.columns,k):
        tmp_result = linear_reg(x_train[list(combo)],y_train)  
        RSS_list.append(tmp_result[0])              
        R_squared_list.append(tmp_result[1])
        feature_list.append(combo)
        numb_features.append(len(combo))   

#결과
df = pd.DataFrame({'numb_features': numb_features,'RSS': RSS_list, 'R_squared':R_squared_list,'features':feature_list})

In [ ]:
df['min_RSS'] = df.groupby('numb_features')['RSS'].transform(min)
df['max_R_squared'] = df.groupby('numb_features')['R_squared'].transform(max)
df.head()

In [ ]:
df_min = df[df.groupby('numb_features')['RSS'].transform(min) == df['RSS']]
display(df_min.head(5))

In [ ]:
fig = plt.figure(figsize = (16,6))
ax = fig.add_subplot(1, 2, 1)

ax.scatter(df.numb_features,df.RSS, alpha = .2, color = 'darkblue' )
ax.plot(df.numb_features,df.min_RSS,color = 'r', label = 'Best subset')
ax.set_xlabel('Features')
ax.set_ylabel('RSS')
ax.set_title('RSS - Best subset selection')
ax.legend()

ax = fig.add_subplot(1, 2, 2)
ax.scatter(df.numb_features,df.R_squared, alpha = .2, color = 'darkblue' )
ax.plot(df.numb_features,df.max_R_squared,color = 'r', label = 'Best subset')
ax.set_xlabel('Features')
ax.set_ylabel('R squared')
ax.set_title('R_squared - Best subset selection')
ax.legend()

plt.show()

In [ ]:
sub['q_0.1'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.1).predict(x_test['Hour_mean'])
sub['q_0.2'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.2).predict(x_test['Hour_mean'])
sub['q_0.3'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.3).predict(x_test['Hour_mean'])
sub['q_0.4'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.4).predict(x_test['Hour_mean'])
sub['q_0.5'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.5).predict(x_test['Hour_mean'])
sub['q_0.6'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.6).predict(x_test['Hour_mean'])
sub['q_0.7'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.7).predict(x_test['Hour_mean'])
sub['q_0.8'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.8).predict(x_test['Hour_mean'])
sub['q_0.9'] = QuantReg(y_train, x_train['Hour_mean']).fit(q=0.9).predict(x_test['Hour_mean'])

In [ ]:
sub

In [ ]:
sub.to_csv('1214_third.csv', index = False)